$success: #c7f282;
$warning: #f1e681;
$error: #f08181;
$charcoal: #ccc;
@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

body{
  background: url(./images/silver.jpg) no-repeat;
  background-size: cover;
}
.flash-success,
.flash-warning,
.flash-error {
  border: 1px solid $charcoal;
  display: block;
  left: 25%;
  padding: 30px;
  position: fixed;
  text-align: center;
  top: 15%;
  width: 50%;
  z-index: 1;
}

.flash-success {
  background-color: $success;
}

.flash-warning {
  background-color: $warning;
}

.flash-error {
  background-color: $error;
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1% auto 0;
  max-width: 600px;

  h3,
  input {
    margin-bottom: 5%;
  }

  button {
    align-self: flex-end;
    max-width: 200px;
  }
}

.CardImg {
  width: 100%;
  height: 25vh;
}

.register{
  display: flex;
  margin-top:5%;
  justify-content: space-evenly;
  
  }

.intro{
  display: flex;
  margin-top:10%;
  justify-content: space-evenly;
  align-items: center;
  color: rgb(112, 124, 119);
  font-family: 'Varela Round', sans-serif;
}

.intro, h2{
  line-height: 2;
}

.intro-img{
  border: 1px solid white;
  border-radius:10px;
  padding:50px;
  background: white;
  text-align: center;
  box-shadow: 10px 10px 10px #00000012;
}

a {
  color: green;
}

.bottomRight {
  position: absolute;
  bottom: 8px;
  right: 16px;
  color: darkred;
}

.point{
  cursor: pointer;
}